.toast {
  background: $c-bg-initial;
  border: $g-border-width solid $c-border;
  border-radius: 0.1rem;
  color: $c-initial;
  display: block;
  padding: $g-padding-y*2 $g-padding-x;
  width: 100%;
  position: relative;

  &__title {
    margin-bottom: 0.5rem;
  }

  &__text {
    margin: 0;
  }
}
