$fs-base: 16px !default;

$fs-size: 16px !default;
$fs-jumbo: 60px !default;
$fs-alpha: 42px !default;
$fs-beta: 36px !default;
$fs-gamma: 28px !default;
$fs-delta: 24px !default;
$fs-epsilon: 20px !default;
$fs-zeta: 18px !default;
$fs-normal: 14px !default;
$fs-small: 12px !default;
$fs-xsmall: 10px !default;

$ff-primary: "Montserrat", sans-serif !default;
$ff-headings: "Montserrat", sans-serif !default;
$ff-second: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco", monospace !default;

//-- Texts
$text-line-height: 1.5 !default;
$text-font-weight: 400 !default;
$text-baseline: 1.5em !default;

//-- Headings
$heading-line-height: normal !default;
$heading-font-weight: 700 !default;
$heading-baseline: 1.5em !default;

//-- Links
$link-line-height: normal !default;
$link-font-weight: 500 !default;
$link-hover-decoration: none !default;

//-- Buttons
$fs-btn: 16px !default;

//-- Inputs
$fs-input: 16px !default;
